.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description>h1{
    font: 3.5rem GothamBold;
    margin-bottom: 1rem;
}

.description>p:nth-child(2){
    font: 2.2rem GothamLight bold;
    margin: 0;
}

.description>p:nth-child(3){
    font: 1.3rem GothamLight;
    width: 60%;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.product>h1{
    font: 3rem GothamBold;
}

.product-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-layout-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px gainsboro;
}

.product-layout-card>img{
    align-self: center;
    width: 20rem;
}

.product-layout-card>h2{
    margin: 0;
    margin-bottom: .5rem;
    font: 1.8rem GothamLight;
}

.product-layout-card>p{
    margin: 0;
    font: 1rem GothamLight;
}

.product-layout-card-button{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem 2rem;
    width: 80%;
    background-color: #ECB28B;
    color: white;
    font: 1.3rem GothamLight;
    text-decoration: none;
    text-align: center;
}

.product-layout-card-button>div:nth-child(2){
    display: none;
}

.product-layout-card-button:hover.product-layout-card-button>div:nth-child(1){
    display: none;
}

.product-layout-card-button:hover.product-layout-card-button>div:nth-child(2){
    display: block;
}

.pagination{
    list-style: none;
    display: flex;
}

.pagination>li{
    margin: 0 .5rem;
    padding: .5rem 1rem;
    font: 1.2rem GothamLight;
    background-color: #ECB28B;
}

.pagination a{
    text-decoration: none;
    color: white;
}

.conclusion{
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    background-color: #ECB28B;
    color: white;
    margin-top: 5rem;
}

.conclusion>h1{
    font: 3rem GothamBold;
    margin: 0;
}

.conclusion>p{
    font: 1.5rem GothamLight;
}

@media only screen and (max-width: 768px){
    .product, .conclusion{
        padding: 3rem 1rem;
    }

    .product-layout-card{
        width: 30%;
    }
}