html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face{
    font-family: "GothamLight";
    src: url("../asset/font/GothamLight.ttf");
}

@font-face{
    font-family: "GothamBold";
    src: url("../asset/font/GothamBold.ttf");
}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
    background-color: #1F253D;
    padding: 0 5rem;
    font: 1.5rem GothamBold;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    opacity: .8;
}

.navbar-logo a{
    color: #ECB28B;
    font-weight: bolder;
}

#home{
    display: none;
}

.navbar-link{
    padding: 0 1rem;
    color: white;
}

.navbar-link>a{
    padding: 0 1rem;
    color: white;
}

.navbar-button{
    margin-left: auto;
}

.navbar-button>span{
    padding: 1rem;
    color: white;
}

.navbar-button img{
    width: 1.5rem;
    filter: brightness(0) invert(1);
}

label[for="hamburger"], #hamburger{
    display: none;
    font-size: 2rem;
}

footer{
    background-color: #1F253D;
    padding: 2rem 5rem;
}

footer>span{
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content>span:first-child{
    font: 3rem GothamBold;
    color: #ECB28B;
}

.footer-content>span:nth-child(2){
    font: GothamLight;
    text-align: right;
    color: white;
}

.footer-content>span:nth-child(2)>p:first-child{
    font: 1.2rem GothamBold;
}

.footer-content>span:nth-child(2)>p>a{
    text-decoration: none;
    color: white;
}

.footer-content>span:nth-child(2)>p>a:hover{
    color: #ECB28B;
}

@media only screen and (max-width: 768px){
    .navbar{
        padding: 0 1rem;
        background-color: #ECB28B;
        font-size: 2rem;
    }

    #home{
        display: block;
    }

    .navbar-logo{
        display: none;
    }

    .navbar-button{
        padding: 0;
    }

    .navbar-button img{
        width: 2rem;
    }

    .navbar-button>span{
        padding: .5rem;
    }

    .navbar-button a, .navbar-button>span>span{
        display: none;
    }

    .navbar input:checked ~ .navbar-link {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #ECB28B;
        top: 0;
        left: 0;
        margin-top: 10vh;
        font: 3rem GothamBold;
        width: 100vw;
        height: 100vh;
    }

    .navbar>input:checked .navbar{
        background-color: #ECB28B;
    }

    .navbar-link{
        display: none;
    }

    .navbar-link>a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin: 1.5rem 0;
    }

    label[for="hamburger"]{
        display: inline-block;
        color: white;
        justify-self: left;
    }
    
    footer{
        padding: 2rem 1rem;
    }

    footer>span{
        font: .5rem GothamLight;
    }
    
    .footer-content>span:first-child{
        font: 1.5rem GothamBold;
        color: #ECB28B;
    }
    
    .footer-content>span:nth-child(2){
        font: .6rem GothamLight;
    }
    
    .footer-content>span:nth-child(2)>p:first-child{
        font: .6rem GothamBold;
    }
}
